$primary-color: #004385;
$border-color: #ccc;

$font-size-base: 1.6rem;
$font-size-lg: 2.4rem;
$font-size-md: 1.8rem;
$font-size-sm: 1.2rem;
$font-size-primary-color: #004385;

$header-height: 4.6rem;
$height-confirm: 5.4rem;

$border-radius: 0.5rem;
$border-color: #cccccc;
$border-node-color: #000;
$border-node: 1px solid $border-node-color;
$border-base: 1px solid #cccccc;
$link-color-base: $primary-color;

$padding-base: 3rem;

// $padding-lg: 24px; // containers
// $padding-md: 16px; // small containers and buttons
// $padding-sm: 12px; // Form controls and items
// $padding-xs: 8px; // small items
// $padding-xss: 4px; // more small

// $margin-base: 24px; // containers
// $margin-lg: 24px; // containers
// $margin-md: 16px; // small containers and buttons
// $margin-sm: 12px; // Form controls and items
// $margin-xs: 8px; // small items
// $margin-xss: 4px; // more small

// $height-base: 32px;
// $height-lg: 40px;
// $height-sm: 24px;

// $border-radius-base: 4px;
// $border-radius-lg: 10px;
// $border-radius-sm: 4px;
