@import '~@/style/var.scss';

.nodes {
  display: flex;
  align-items: center;
  align-self: flex-start;
  min-height: 60%;
}

.wrap {
  padding: 0 5rem;
  height: 100%;
  display: flex;
  overflow: auto;
  background-size: contain;
}
