[Desktop Entry]
Type=Application
Exec=sh /home/infore/icescreen/start.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[zh_CN]=ice
Name=ice
Comment[zh_CN]=
Comment=
